<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appchat_firebase">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".services.NotificationApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_send_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_send_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppChatFirebase">
        <activity
            android:name=".ActivityUserInfo"
            android:exported="false" />
        <activity
            android:name=".ActivitySetting"
            android:exported="false" />
        <activity
            android:name=".Message"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity_register"
            android:exported="false" />
        <activity
            android:name=".activity_login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".services.LogNotificationService" />
    </application>

</manifest>